SNOWFLAKE_ACCOUNT=SFEDU05-OPB74654
SNOWFLAKE_USER=CAT07
SNOWFLAKE_PAT=your_programmatic_access_token
SNOWFLAKE_WAREHOUSE=CAT07_WH
SNOWFLAKE_DATABASE=RETAIL_ASSIST_DB
SNOWFLAKE_SCHEMA=RETAIL_ASSIST
SNOWFLAKE_ROLE=CAT07_LEARNER_RL